footer{
    display:flex;
    padding: 10px;
    color: rgb(253, 253, 253);
    background-color: #3958ac;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    width: 100%;
    border-top: 1px solid white;
    justify-content:center;
    align-items:center;
}

